/* style.css
 * This file provides css styles.
 */

.container {
    width: 96%;
}

.form-control {
    display: inline;
}

.panel {
    margin-top: 0.5em;
    padding: 0;
}

#selectTown {
    display: block;
    margin: auto auto;
}

footer {
    margin-top: 1em;
}