/* style.css
 * This file provides css styles.
 */

.container {
    width: 96%;
}

.form-control {
    display: inline;
}

#selectTown {
    display: block;
    margin: auto auto;
}

footer {
    margin-top: 1em;
}